body {
    font-family: sans-serif;
}

header{
    background-color: blue;
    border-radius:15px ;
    padding: 15px;
    color: white;
}
h1{
    color: purple;
    text-align: center;
}
footer{
    background-color: orange;
    padding: 5px;
}
footer p{
    background-color: white;
    padding: 5px;
    margin: 5px;
}
nav a{
    background-color: darkblue;
    border-radius: 10px;
    padding: 5px;
    color: white;
    text-decoration:  none ;
    margin: 20px;
}
nav{
    margin: 20px;
}
select{
    padding: 5px;
    background-color: green;
    color: white;
    margin: 5px;
}
.produx{
    border: 5px solid navy;
    border-radius: 15px;
    padding: 10px;
}
#wholesale{
    color: navy;
}
#about_us{
    color: navy;
}
.up{
    border: 2px solid navy;
    text-decoration: none;
    padding: 3px;
}
